@nice-blue: #007BFF;
@dark-color: #333333;
@light-color: #EBEBEB;

.centro {
  text-align: center;
}

.borda {
  border: 1px solid @light-color;
  border-radius: 2px;
}

.box {
  display: block;
  box-sizing: border-box;
  width: 50%;
  padding: 40px;
  margin: 50px auto;
}

body {
  color: @dark-color;
}

section {
  .borda;
  .box;
}

h1, p {
  .centro;
}

input {
  .borda;
}