@nice-blue: #007BFF;
@dark-color: #333;
@middle-color: #999;
@light-color: #EBEBEB;
@fonts: '../fonts';
@fsize-sm: 1em;
@fsize-m: 1.2em;
@fsize-lg: 1.8em;

@font-face {
  font-family: Allerta;
  src: url('@{fonts}/Allerta/Allerta-Regular.ttf');
}

.centro() {
  text-align: center;
}

.borda() {
  border: 1px solid @light-color;
  border-radius: 2px;
}

.box() {
  display: block;
  box-sizing: border-box;
}

.big-box() {
  .box;
  width: 50%;
  padding: 40px 60px;
  margin: 50px auto;
  border-radius: 10px;
}

.little-box() {
  .box;
  width: 100%;
  padding: 8px;
  margin: 8px auto;
}

.transicao() {
  transition: 0.5s;
}

.withFile {
  color: @dark-color;
}

body {
  font-family: Allerta;
  font-size: @fsize-sm;
  color: @dark-color;
}

section {
  .borda;
  .big-box;
}

h1 {
  .centro;
  font-size: @fsize-lg;
}

p {
  .centro;
}

input, select {
  .borda;
}

[type='file'] {
  display: none;
}

span {
  color: @middle-color;
  text-decoration: none;
  .borda;
  .little-box;
}

fieldset {
  border: none;
}

legend {
  color: @nice-blue;
  cursor: default;
}

svg {
  fill: @nice-blue;
}

#avancados {
  display: none;
}

[type='submit'] {
  .little-box;
  background-color: @light-color;
  color: @dark-color;
  font-size: @fsize-m;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    background-color: @middle-color;
    .transicao;
  }
}