<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Rotulação de Clusters</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
  
  <section>
    <h1>Rotulação de Clusters</h1>
    <p>Selecione uma base de dados já agrupada no formato .csv</p>
    
    <!--Formulário de Entrada de dados-->
    <form id="formulario">

      <!--
        Escolha do arquivo da base de dados:
        * obrigatório estar no formato .CSV
      -->
      <label>
        <input name="database" type="file" accept=".csv" required>
        <span id="database">Selecione uma base de dados .csv</span>
      </label>
      
      <!--
        Opções Avançadas: possuem os valores padrões.
        Não precisam ser configurados. Usuários mais
        experientes podem precisar delas para realizar
        uma gama maior de testes.
      -->
      <fieldset>  
        <legend>
          Opções Avançadas
          <svg height="10" width="10">
            <polygon points="1,2 9,2 5,9" class="triangle" />
          </svg>
        </legend>
        
        <!--
          Estes campos estão ocultos por padrão.
          Para exibi-los é preciso clicar no nome
          "Opções Avançadas".
        -->
        <div id="avancados">

          <div id="esquerda">
            <!--
              Selecionar o algoritmo de Discretização:
            -->
            <label>{{ inputs.discretizacao.label }}</label>
            <select name="{{ inputs.discretizacao.name }}">
              {% for option in inputs.discretizacao.options %}
                <option value="{{ option.value }}">{{ option.name }}</option>
              {% endfor %}
            </select>
            
            <!--
              Inputs para Discretização
            -->
            {% for input in inputs.discretizacao.inputs %}
              <label>{{ input.label }}</label>
              {% if input.type == 'range' %}
                <input type="{{ input.type }}" name="{{ input.name }}" value="{{ input.value }}" min="{{ input.min }}" max="{{ input.max }}">
                <span id="{{ input.name }}"></span>
              {% endif %}
            {% endfor %}
          </div>

          <div id="direita">
            <!--
              Selecionar o algoritmo de Classificação:
            -->
            <label>{{ inputs.classificacao.label }}</label>
            <select name="{{ inputs.classificacao.name }}">
              {% for option in inputs.classificacao.options %}
                <option value="{{ option.value }}">{{ option.name }}</option>
              {% endfor %}
            </select>
            
            <!--
              Inputs para Classificação
            -->
            {% for input in inputs.classificacao.inputs %}
              <label>{{ input.label }}</label>
              {% if input.type == 'range' %}
                <input type="{{ input.type }}" name="{{ input.name }}" value="{{ input.value }}" min="{{ input.min }}" max="{{ input.max }}">
                <span id="{{ input.name }}"></span>
              {% endif %}
            {% endfor %}
          </div>
        </div>

      </fieldset>
      
      <input id="enviar" type="submit" value="Rotular Base">

    </form>
  </section>
  <script type="text/javascript" src="static/js/inputs.js"></script>
  <script type="text/javascript" src="static/js/send.js"></script>
</body>
</html>